* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #26292c;
}

#image-banner {
    width: 100%;
}

.banner-mobile {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #26292c;
}

::-webkit-scrollbar-thumb {
    height: 94px;
    border: 1px solid #dc3318;
    background-color: #26292c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 700px) {

    .banner {
        display: none;
    }

    .banner-mobile {
        display: block;
    }

    .image-banner-mobile {
        width: 100%;
    }
}